@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{  
    margin: 0%;
    padding: 0%;
    border: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #06283d;
}
.container{
    position: relative;
    width: 500px;
    height: 655px;
    background-color: #fff;
    padding: 38px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto';
    transition: 0.6s ease-out;
    
}
.serach-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.serach-box input{
    color: #06283d;
    width: 80%;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;

}
.serach-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: #06283d;
}

.serach-box button{
    cursor: pointer;
    height: 50px;
    width: 50px;
    color: #fff; 
    background-color: #6a8291;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.4s ease;



}
.serach-box button:hover{
    
    background-color: #ceecff;
}

.serach-box i{
    position: absolute;
    color: #563939;
    font-size: 28px;
    
}

.wather-box{
    text-align: center;

}
{
    margin-bottom: 15px;
}